/02_hp_exploration/wandb/
/02_hp_exploration/.ipynb_checkpoints/
/01_train_classifier/wandb/
/01_train_classifier/.ipynb_checkpoints/
/01_train_classifier/lrp/.ipynb_checkpoints/
/06_real-time_simulation/.ipynb_checkpoints/
/05_volumetric_approach/wandb/
/04_transfer_learning/models/
/04_transfer_learning/wandb/
/05_volumetric_approach/models/
/05_volumetric_approach/models/
/01_train_classifier/lrp/
/01_train_classifier/models/
/01_train_classifier/lrp/
/01_train_classifier/stat-maps/
/02_hp_exploration/models/
/05_volumetric_approach/models/
